.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 1250px;
    padding-top: auto;
    padding-bottom: auto;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 2000px;
  }

  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    padding-top: 20px;
    padding-bottom: 35px;
  }