.headers {
	font-family: 'icomoon';
	font-size: 22px;
	color: #1E1E1E;
    padding: 25px 0 0 15px;	
}

.center {
    horizontal-align: center;
    text-align: center;
}

.profile {
    font-family: "Material Icons", "MaterialIcons-Regular";
	font-size: 132px;
	vertical-align: center;
	horizontal-align: center;
    color: #878787;
    text-align: center;
}

.innerCardStyle {
    color: black;
}

.data {
	font-size: 15px;
	color: #448AFF;
	padding: 15px;
}

.big {
	font-size: 40px;
	vertical-align: center;
	horizontal-align: center;
	color: #878787;
}

.fab-button {
    height: 70;
	margin: 15;
	color: white;
    background-color: #448AFF; 
    horizontal-align: right;
    vertical-align: bottom; 
}

.grey-text {
    color: #878787;
}

.green-text {
    color:#558B2F;
}
.data-horizontal {
    width: 50%;
	font-size: 15px;
	color: #448AFF;
	padding: 15px;
}

.headers-horizontal {
    width: 50%;
	font-family: 'icomoon';
	font-size: 22px;
	color: #1E1E1E;
    padding: 25px 0 0 15px;	
}

.right-align {
    horizontal-align: right;
    text-align: right;
}

.fab-button {
    height: 70;
	margin: 15;
	color: white;
    background-color: #448AFF; 
    horizontal-align: right;
    vertical-align: bottom;
}