<div>
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="Price">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="Payment Type">
                    <mat-option value="tarjeta">Tarjeta</mat-option>
                    <mat-option value="metalic">Metalico</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="Booking">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input matInput placeholder="Orders">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button type="button" mat-icon-button class="float-right" matTooltip="Add new" matTooltipPosition="left" >
                    <mat-icon>done</mat-icon>
            </button>
            <button type="button" mat-icon-button class="float-right-bottom" matTooltip="Add new" matTooltipPosition="left" (click)="closeDialog()">
                    <mat-icon>cancel</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>