<div>
    <div class="title">Accounting Form Management</div>
    <div class="example-container mat-elevation-z8">
        <mat-card class="example-container">
            <form class="main-div">
                <mat-form-field *ngIf="!id">
                    <mat-select placeholder="Customer" [(ngModel)]="accountingById.customer" name="customer">
                        <mat-option [value]="customer" *ngFor="let customer of customers">{{ customer.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="id">
                    <input matInput placeholder="Customer" [disabled]="true" name="customer" [value]="accountingById.customer.name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Price" name="price" [(ngModel)]="accountingById.finalPrice">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" 
                        placeholder="Choose a date" 
                        [(ngModel)]="accountingById.date"
                        (focus)="picker.open()" 
                        (click)="picker.open()" 
                        readonly
                        name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Payment Type" [(ngModel)]="accountingById.paymentType" name="paymentType">
                        <mat-option value="Credit card">Credit card</mat-option>
                        <mat-option value="Cash">Cash</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card>
    </div>
    <div>
        <button type="button" mat-icon-button class="float-right" matTooltip="Cancel" matTooltipPosition="left" (click)="cancel()">
                <mat-icon>cancel</mat-icon>
            </button>
        <button type="button" mat-icon-button class="float-right" matTooltip="Save" matTooltipPosition="left" (click)="submitAccounting()">
            <mat-icon>done</mat-icon>
        </button>
    </div>