:host(app-notifications) {
  width: 90%;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icons {
  margin-bottom: 5px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 35px;
}

.example-container {
    display: flex;
    flex-direction: column;
    padding-top: auto;
    padding-bottom: auto;
  }

  mat-card-content {
    height: 40px;
  }

  ::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 0;
  }

  ::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer {
    transform: rotate(-45deg);
  }

  ::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer {
    transform: rotate(45deg);
  }


  .report-card {
    height: 69px !important;
  }

.card-wrapper {
  width: 25%;
  margin: 10px;
}

.action-buttons{
    float: right;
}

.grid {
  flex-wrap: wrap;
}

[layout] {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

[layout=vertical] {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

[layout-padding],
[layout][layout-padding]>[flex] {
  padding: 8px;
}

[layout-padding]+[layout-padding] {
  margin-top: -8px;
  padding-top: 0;
}

[layout-fill] {
  margin: 0;
  min-height: 100%;
  width: 100%;
}

[layout-align="center"],
[layout-align="center center"],
[layout-align="center start"],
[layout-align="center end"] {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

[layout-align="end"],
[layout-align="end center"],
[layout-align="end start"],
[layout-align="end end"] {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

[layout-align="space-around"],
[layout-align="space-around center"],
[layout-align="space-around start"],
[layout-align="space-around end"] {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

[layout-align="space-between"],
[layout-align="space-between center"],
[layout-align="space-between start"],
[layout-align="space-between end"] {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

[layout-align="center center"],
[layout-align="start center"],
[layout-align="end center"],
[layout-align="space-between center"],
[layout-align="space-around center"] {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

[layout-align="center start"],
[layout-align="start start"],
[layout-align="end start"],
[layout-align="space-between start"],
[layout-align="space-around start"] {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

[layout-align="center end"],
[layout-align="start end"],
[layout-align="end end"],
[layout-align="space-between end"],
[layout-align="space-around end"] {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

[block] {
  display: block;
}

[inline-block] {
  display: inline-block;
}

[hide] {
  display: none;
}

[show] {
  display: inherit;
}

[flex] {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

[flex="5"] {
  -webkit-flex: 0 0 5%;
  -ms-flex: 0 0 5%;
  flex: 0 0 5%;
  max-width: 5%;
}

[flex="10"] {
  -webkit-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

[flex="15"] {
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

[flex="20"] {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

[flex="25"] {
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

[flex="30"] {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

[flex="35"] {
  -webkit-flex: 0 0 35%;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  max-width: 35%;
}

[flex="40"] {
  -webkit-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

[flex="45"] {
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}

[flex="50"] {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

[flex="55"] {
  -webkit-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
}

[flex="60"] {
  -webkit-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

[flex="65"] {
  -webkit-flex: 0 0 65%;
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}

[flex="70"] {
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

[flex="75"] {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

[flex="80"] {
  -webkit-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

[flex="85"] {
  -webkit-flex: 0 0 85%;
  -ms-flex: 0 0 85%;
  flex: 0 0 85%;
  max-width: 85%;
}

[flex="90"] {
  -webkit-flex: 0 0 90%;
  -ms-flex: 0 0 90%;
  flex: 0 0 90%;
  max-width: 90%;
}

[flex="95"] {
  -webkit-flex: 0 0 95%;
  -ms-flex: 0 0 95%;
  flex: 0 0 95%;
  max-width: 95%;
}

[flex="33"],
[flex="34"] {
  -webkit-flex: 0 0 33.33%;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

[flex="66"],
[flex="67"] {
  -webkit-flex: 0 0 66.66%;
  -ms-flex: 0 0 66.66%;
  flex: 0 0 66.66%;
  max-width: 66.66%;
}

[offset="5"] {
  margin-left: 5%;
}

[offset="10"] {
  margin-left: 10%;
}

[offset="15"] {
  margin-left: 15%;
}

[offset="20"] {
  margin-left: 20%;
}

[offset="25"] {
  margin-left: 25%;
}

[offset="30"] {
  margin-left: 30%;
}

[offset="35"] {
  margin-left: 35%;
}

[offset="40"] {
  margin-left: 40%;
}

[offset="45"] {
  margin-left: 45%;
}

[offset="50"] {
  margin-left: 50%;
}

[offset="55"] {
  margin-left: 55%;
}

[offset="60"] {
  margin-left: 60%;
}

[offset="65"] {
  margin-left: 65%;
}

[offset="70"] {
  margin-left: 70%;
}

[offset="75"] {
  margin-left: 75%;
}

[offset="80"] {
  margin-left: 80%;
}

[offset="85"] {
  margin-left: 85%;
}

[offset="90"] {
  margin-left: 90%;
}

[offset="95"] {
  margin-left: 95%;
}

[offset="33"],
[offset="34"] {
  margin-left: 33.33%;
}

[offset="66"],
[offset="67"] {
  margin-left: 66.66%;
}

[layout-order="1"] {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

[layout-order="2"] {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

[layout-order="3"] {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

[layout-order="4"] {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

[layout-order="5"] {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

[layout-order="6"] {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

@media (min-width: 600px) {
  [flex-sm] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  [flex-sm="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  [flex-sm="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  [flex-sm="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  [flex-sm="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  [flex-sm="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  [flex-sm="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  [flex-sm="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  [flex-sm="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  [flex-sm="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  [flex-sm="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [flex-sm="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
  }
  [flex-sm="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  [flex-sm="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
  [flex-sm="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  [flex-sm="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  [flex-sm="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  [flex-sm="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
  [flex-sm="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
  [flex-sm="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
  }
  [flex-sm="33"],
  [flex-sm="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  [flex-sm="66"],
  [flex-sm="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  [offset-sm="5"] {
    margin-left: 5%;
  }
  [offset-sm="10"] {
    margin-left: 10%;
  }
  [offset-sm="15"] {
    margin-left: 15%;
  }
  [offset-sm="20"] {
    margin-left: 20%;
  }
  [offset-sm="25"] {
    margin-left: 25%;
  }
  [offset-sm="30"] {
    margin-left: 30%;
  }
  [offset-sm="35"] {
    margin-left: 35%;
  }
  [offset-sm="40"] {
    margin-left: 40%;
  }
  [offset-sm="45"] {
    margin-left: 45%;
  }
  [offset-sm="50"] {
    margin-left: 50%;
  }
  [offset-sm="55"] {
    margin-left: 55%;
  }
  [offset-sm="60"] {
    margin-left: 60%;
  }
  [offset-sm="65"] {
    margin-left: 65%;
  }
  [offset-sm="70"] {
    margin-left: 70%;
  }
  [offset-sm="75"] {
    margin-left: 75%;
  }
  [offset-sm="80"] {
    margin-left: 80%;
  }
  [offset-sm="85"] {
    margin-left: 85%;
  }
  [offset-sm="90"] {
    margin-left: 90%;
  }
  [offset-sm="95"] {
    margin-left: 95%;
  }
  [offset-sm="33"],
  [offset-sm="34"] {
    margin-left: 33.33%;
  }
  [offset-sm="66"],
  [offset-sm="67"] {
    margin-left: 66.66%;
  }
  [layout-order-sm="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  [layout-order-sm="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  [layout-order-sm="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  [layout-order-sm="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  [layout-order-sm="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  [layout-order-sm="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  [layout-sm] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  [layout-sm=vertical] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  [block-sm] {
    display: block;
  }
  [inline-block-sm] {
    display: inline-block;
  }
  [show-sm] {
    display: inherit;
  }
  [hide-sm] {
    display: none;
  }
}

@media (min-width: 960px) {
  [flex-md] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  [flex-md="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  [flex-md="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  [flex-md="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  [flex-md="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  [flex-md="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  [flex-md="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  [flex-md="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  [flex-md="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  [flex-md="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  [flex-md="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [flex-md="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
  }
  [flex-md="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  [flex-md="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
  [flex-md="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  [flex-md="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  [flex-md="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  [flex-md="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
  [flex-md="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
  [flex-md="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
  }
  [flex-md="33"],
  [flex-md="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  [flex-md="66"],
  [flex-md="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  [offset-md="5"] {
    margin-left: 5%;
  }
  [offset-md="10"] {
    margin-left: 10%;
  }
  [offset-md="15"] {
    margin-left: 15%;
  }
  [offset-md="20"] {
    margin-left: 20%;
  }
  [offset-md="25"] {
    margin-left: 25%;
  }
  [offset-md="30"] {
    margin-left: 30%;
  }
  [offset-md="35"] {
    margin-left: 35%;
  }
  [offset-md="40"] {
    margin-left: 40%;
  }
  [offset-md="45"] {
    margin-left: 45%;
  }
  [offset-md="50"] {
    margin-left: 50%;
  }
  [offset-md="55"] {
    margin-left: 55%;
  }
  [offset-md="60"] {
    margin-left: 60%;
  }
  [offset-md="65"] {
    margin-left: 65%;
  }
  [offset-md="70"] {
    margin-left: 70%;
  }
  [offset-md="75"] {
    margin-left: 75%;
  }
  [offset-md="80"] {
    margin-left: 80%;
  }
  [offset-md="85"] {
    margin-left: 85%;
  }
  [offset-md="90"] {
    margin-left: 90%;
  }
  [offset-md="95"] {
    margin-left: 95%;
  }
  [offset-md="33"],
  [offset-md="34"] {
    margin-left: 33.33%;
  }
  [offset-md="66"],
  [offset-md="67"] {
    margin-left: 66.66%;
  }
  [layout-order-md="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  [layout-order-md="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  [layout-order-md="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  [layout-order-md="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  [layout-order-md="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  [layout-order-md="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  [layout-md] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  [layout-md=vertical] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  [block-md] {
    display: block;
  }
  [inline-block-md] {
    display: inline-block;
  }
  [show-md] {
    display: inherit;
  }
  [hide-md] {
    display: none;
  }
}

@media (min-width: 1200px) {
  [flex-lg] {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  [flex-lg="5"] {
    -webkit-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  [flex-lg="10"] {
    -webkit-flex: 0 0 10%;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  [flex-lg="15"] {
    -webkit-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  [flex-lg="20"] {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  [flex-lg="25"] {
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  [flex-lg="30"] {
    -webkit-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  [flex-lg="35"] {
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  [flex-lg="40"] {
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  [flex-lg="45"] {
    -webkit-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  [flex-lg="50"] {
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  [flex-lg="55"] {
    -webkit-flex: 0 0 55%;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
  }
  [flex-lg="60"] {
    -webkit-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
  [flex-lg="65"] {
    -webkit-flex: 0 0 65%;
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
  }
  [flex-lg="70"] {
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  [flex-lg="75"] {
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  [flex-lg="80"] {
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
  }
  [flex-lg="85"] {
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;
  }
  [flex-lg="90"] {
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
  [flex-lg="95"] {
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    max-width: 95%;
  }
  [flex-lg="33"],
  [flex-lg="34"] {
    -webkit-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  [flex-lg="66"],
  [flex-lg="67"] {
    -webkit-flex: 0 0 66.66%;
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  [offset-lg="5"] {
    margin-left: 5%;
  }
  [offset-lg="10"] {
    margin-left: 10%;
  }
  [offset-lg="15"] {
    margin-left: 15%;
  }
  [offset-lg="20"] {
    margin-left: 20%;
  }
  [offset-lg="25"] {
    margin-left: 25%;
  }
  [offset-lg="30"] {
    margin-left: 30%;
  }
  [offset-lg="35"] {
    margin-left: 35%;
  }
  [offset-lg="40"] {
    margin-left: 40%;
  }
  [offset-lg="45"] {
    margin-left: 45%;
  }
  [offset-lg="50"] {
    margin-left: 50%;
  }
  [offset-lg="55"] {
    margin-left: 55%;
  }
  [offset-lg="60"] {
    margin-left: 60%;
  }
  [offset-lg="65"] {
    margin-left: 65%;
  }
  [offset-lg="70"] {
    margin-left: 70%;
  }
  [offset-lg="75"] {
    margin-left: 75%;
  }
  [offset-lg="80"] {
    margin-left: 80%;
  }
  [offset-lg="85"] {
    margin-left: 85%;
  }
  [offset-lg="90"] {
    margin-left: 90%;
  }
  [offset-lg="95"] {
    margin-left: 95%;
  }
  [offset-lg="33"],
  [offset-lg="34"] {
    margin-left: 33.33%;
  }
  [offset-lg="66"],
  [offset-lg="67"] {
    margin-left: 66.66%;
  }
  [layout-order-lg="1"] {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  [layout-order-lg="2"] {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  [layout-order-lg="3"] {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  [layout-order-lg="4"] {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
  }
  [layout-order-lg="5"] {
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }
  [layout-order-lg="6"] {
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6;
  }
  [layout-lg] {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  [layout-lg=vertical] {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
