<div *ngIf="isLoading">
    <app-page-loader></app-page-loader>
</div>
<div *ngIf="!isLoading" class="container">
    <div class="title">Events Management</div>
    <div class="example-container">
        <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type to filter...">
        </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
            
        <mat-table #table [dataSource]="dataSource" matSort>
  
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.name }}</mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.description }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="startHour">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Start Hour </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.startHour | date: 'MM/dd/yyyy HH:mm' }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endHour">
                <mat-header-cell *matHeaderCellDef mat-sort-header> End Hour </mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.endHour | date: 'MM/dd/yyyy HH:mm' }} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="function">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let item">
                    <button type="button" mat-icon-button class="float-right" matTooltip="Delete" matTooltipPosition="above" (click)="onDelete(item)">
                            <mat-icon>delete</mat-icon>
                    </button>
                    <button type="button" mat-icon-button class="float-right" matTooltip="Edit" matTooltipPosition="above" (click)="goToEdit(item.id)">
                            <mat-icon>mode_edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
        </mat-table>
  
        <mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[4, 8, 12]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
    <div>
        <div>
            <button type="button" mat-button class="float-right" (click)="goToCreate()">
                Add new <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
  </div>