.example-container {
    display: flex;
    flex-direction: column;
    padding-top: auto;
    padding-bottom: auto;
  }

  .main-div{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 35px;
  }