<ActionBar class="action-bar">
	<NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
	<Label class="action-bar-title" text="New Order"></Label>
</ActionBar>

<TabView selectedTabTextColor="#FFFFFF" tabBackgroundColor="#448AFF" androidSelectedTabHighlightColor="#FFFFFF">
	<StackLayout *tabItem="{title: 'Products'}">
		<TabView selectedTabTextColor="#448AFF" tabBackgroundColor="#FFFFFF" androidSelectedTabHighlightColor="#448AFF">
			<StackLayout *tabItem="{title: 'Food'}">
				<ListView [items]="foodItems" (itemTap)="onTapFood($event)" class="list-group">
					<ng-template let-food="item" let-i="index" let-odd="odd" let-even="even">
						<GridLayout columns="265, 65" class="list-group-item">

							<Label class="title" [text]="food.name" col="0"></Label>
							<Label class="price" text=" {{food.price | number: '1.2-2' }} €" col="1"></Label>

						</GridLayout>

					</ng-template>

				</ListView>
			</StackLayout>
			<StackLayout *tabItem="{title: 'Drinks'}">
				<ListView [items]="drinkItems" (itemTap)="onTapDrink($event)" class="list-group">
					<ng-template let-drink="item" let-i="index" let-odd="odd" let-even="even">
						<GridLayout columns="265, 65" class="list-group-item">

							<Label class="title" [text]="drink.name" col="0"></Label>
							<Label class="price" text=" {{drink.price | number: '1.2-2' }} €" col="1"></Label>

						</GridLayout>

					</ng-template>

				</ListView>
			</StackLayout>
			<StackLayout *tabItem="{title: 'Services'}">
				<ListView [items]="serviceItems" (itemTap)="onTapService($event)" class="list-group">
					<ng-template let-service="item" let-i="index" let-odd="odd" let-even="even">
						<GridLayout columns="265, 65" class="list-group-item">

							<Label class="title" [text]="service.name" col="0"></Label>
							<Label class="price" text=" {{service.price | number: '1.2-2' }} €" col="1"></Label>

						</GridLayout>

					</ng-template>

				</ListView>
			</StackLayout>
		</TabView>
	</StackLayout>
	<StackLayout *tabItem="{title: 'Cart'}">
		<ListView [items]="orderItems.productsOrdered" (itemTap)="onTapCartItem($event)" class="list-group">
			<ng-template let-product="item" let-i="index" let-odd="odd" let-even="even">
				<GridLayout columns="265, 35, 35" class="list-group-item">

					<Label class="title" [text]="product.product.name" col="0"></Label>
					<Label class="price" [text]="product.quantity" col="1"></Label>
					<Label [text]="orderItems.finalPrice" col="2"></Label>

				</GridLayout>

			</ng-template>

		</ListView>
	</StackLayout>
</TabView>