.header {
    height: 200px;
}

.container {
    padding: 24px;
}

.row {
    margin: 0;
}

.row-padding {
    padding-bottom: 10px;
}

.half-card {
    width: 50%;
    padding: 5px;
}
.stay-days {
    font-size: small;
    color: grey;
    padding-left: 5px;
}

.full-width {
    width: 100%;
}

.button-padding {
    padding-bottom: 15px;
    padding-top: 15px;
}

.top-padding {
    padding-top: 15px;
}