<mat-toolbar color="primary">
  <span>
	  	{{booking?.customer.name}} {{booking?.customer.surname}}
		{{activity?.name}}
  </span>
</mat-toolbar>

<div class="container" *ngIf="isBooking">
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		
	</div>
</div>

<div class="container" *ngIf="isActivity">
		<div class="row">
			lmao
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			
		</div>
	</div>