/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';


body {
    overflow: hidden;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #4facfe 0%, #00f2fe 100%);
}

.Absolute-Center {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 700px;
}

.image {
    display: block;
    margin: auto;
    padding: 20px;
    height: 70%;
    width: 70%;
}


// Calendar css
.cal-month-view .cal-day-badge {
    background-color: #00BCD4 !important;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: #EF9A9A;
}