.headers {
	font-family: 'icomoon';
	font-size: 22px;
	color: #1E1E1E;
	padding: 25px 0 0 15px;	
}

.headers-cards{
	font-family: 'icomoon';
	font-size: 22px;
	color: #1E1E1E;
	padding-left: 50px;	
	padding-top: 40px;	
	padding-bottom: 25px;
}

.data {
	font-size: 15px;
	color: #448AFF;
	padding: 15px;
}
.data-cards {
	font-size: 18px;
	color: #1E1E1E;
	padding-left: 50px;
	padding-bottom: 20px;
}
.data-cards-service {
	font-size: 18px;
	color: #1E1E1E;
	padding-left: 50px;
	padding-bottom: 50px;
}
.data-hour{
	font-size: 18px;
	color: #1E1E1E;
	padding-left: 50px;
	padding-bottom: 50px;
}
.image-hotel {
	width: 40px;
	height: 40px;
}
.innerCardStyle {
    color: black;
}
