<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Info"></Label>
</ActionBar>

<StackLayout orientation="vertical" class="p-15">
    <Image src="res://hotel"></Image> 
    <Label></Label>
    <Label text="Hotel" class="headers"></Label>
	<Label [text]="hotel?.name" class="data"></Label>
	<Label text="Address" class="headers"></Label>
	<Label [text]="hotel?.address" class="data"></Label>
	<Label text="Email" class="headers"></Label>
	<Label [text]="hotel?.email" class="data"></Label>
    <Label text="Phone Number" class="headers"></Label>
    <Label [text]="hotel?.phoneNumber" class="data"></Label>
</StackLayout>