.Absolute-Center {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 800px;
}

.input-width {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mat-card {
    padding-bottom: 0;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.image {
    height: 100%;
    width: 100%;
}