
.input-width {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mat-card {
    padding-bottom: 0;
}

.image {
    display: block;
    margin: auto;
    padding: 20px;
    height: 50%;
    width: 50%;
}