.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
    width: 50%; 
    height: 70%;
    min-width: 200px;
    max-width: 600px;
    padding: 40px;
}

.input-width {
    display: flex;
    flex-direction: column;
  
    width: 100%;
}