<div [class.darkTheme]="theme">
	<mat-toolbar color="primary">
		<h2>Header</h2>
		<div class="flex-spacer"></div>
		<button mat-icon-button (click)="changeTheme()">
			<mat-icon>wb_sunny</mat-icon>
		</button>
		<button mat-icon-button (click)="logOut()">Log out</button>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav-container">
		<mat-sidenav #sidenav mode="side" opened="true" 
			[@sidenav]="sidenavStatus"
			(@sidenav.done)="animationDone()">
			<mat-nav-list>
				<mat-list-item>
					<button mat-icon-button (click)="toggleState()">
						<mat-icon *ngIf="!sidenavItems">chevron_right</mat-icon>
						<mat-icon *ngIf="sidenavItems">chevron_left</mat-icon>
					</button>
				</mat-list-item>
					<div *ngIf ="sidenavItems" class="container text-center">
						<mat-icon color="primary" class="user-icon" mat-list-icon>account_circle</mat-icon>
						<mat-chip-list class="mat-chip-list-stacked">
							<mat-chip color="primary" selected="true">
								<span class="font-weight-normal">{{user?.username}}</span>, 
								<span class="font-italic">{{user?.userType}}</span></mat-chip>
						</mat-chip-list>
						<mat-divider class="chip-margin"></mat-divider>
					</div>
				<mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.route" >
					<mat-icon color="accent" mat-list-icon>{{ menuItem.icon }}</mat-icon>
					<p matLine *ngIf="sidenavItems">{{ menuItem.name }}</p>
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>

		<div class="outside-content">
			<router-outlet></router-outlet>
		</div>

	</mat-sidenav-container>
</div>