<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
      <mat-list>
          <mat-list-item *ngFor="let menuItem of menuItems">
            <mat-icon matListIcon>{{ menuItem.icon }}</mat-icon>
            <h4> {{ menuItem.name }}</h4>
          </mat-list-item>
         </mat-list>
  </mat-drawer>

  <div class="outside-content">
    <button type="button" mat-button (click)="drawer.toggle()">

      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>