
$userIconSize: 84px;

.sidenav-container {
    width: 100%;
    position: absolute;
    min-height: 100%;
    font-family: Roboto;
    font-size: 18px;
  }
  
  .outside-content { 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  .flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .user-icon {
    font-size: $userIconSize;
    height: $userIconSize;
    width: $userIconSize;
  }

  .chip-margin {
    margin-top: 10px;
  }