
.sidenav-container {
    width: 100%;
    position: absolute;
    min-height: 100%;
    font-family: Roboto;
    font-size: 18px;
  }
  
  .outside-content { 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }

  .button-large {
    padding: 0px 5px 0px 4px;
  }
  
  a {
    color: white;
  }
  