<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-list>
            <mat-list-item>
              <mat-icon>dashboard</mat-icon><h3>Dashboard</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>today</mat-icon><h3>Calendar</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>announcement</mat-icon><h3>Notifications</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>payment</mat-icon><h3>Accounting</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>people</mat-icon><h3>Customers</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>smartphone</mat-icon><h3>App Management</h3>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>business</mat-icon><h3>Hotel Management</h3>
            </mat-list-item>
           </mat-list>
    </mat-drawer>

    <div class="outside-content">
      <button type="button" mat-button (click)="drawer.toggle()">
  
        Toggle sidenav
      </button>
    </div>

  </mat-drawer-container>

<router-outlet></router-outlet>
