<h1 mat-dialog-title>Customer Details</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
		<div>
			<h6>Name</h6>
			<h4>{{ customer.name }}</h4>
		</div>
		<mat-divider></mat-divider>
		<div>
			<h6>Surname</h6>
			<h4>{{ customer.surname }}</h4>
		</div>
		<mat-divider></mat-divider>
		<div>
			<h6>Dni/Nif</h6>
			<h4>{{ customer.identificationDocument }}</h4>
		</div>
		<mat-divider></mat-divider>
		<div>
			<h6>Phone Number</h6>
			<h4>{{ customer.phoneNumber }}</h4>
		</div>
		<mat-divider></mat-divider>
		<div>
			<h6>Email</h6>
			<h4>{{ customer.email }}</h4>
		</div>
</div>