<div>
    <div class="title">Edit Hotel information</div>
    <div>
        <button type="button" mat-button (click)="cancel()"><mat-icon>arrow_back</mat-icon>Go back</button>
    </div>
    <div class="example-container mat-elevation-z8">
        <mat-card class="example-container">
            <form class="main-div" [formGroup]="hotelForm">
                <mat-form-field>
                    <input matInput placeholder="Name" type="text" required name="name" formControlName="name">
                    <mat-error>Please insert the name</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Description" type="text" required name="description" formControlName="description">
                    <mat-error>Please insert the description</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Address" type="text" required name="address" formControlName="address">
                    <mat-error>Please insert the address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" required name="email" formControlName="email">
                    <mat-error>Please insert the email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Phone" required name="phoneNumber" formControlName="phoneNumber">
                    <mat-error>Please insert the phone</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Website" type="text" required name="website" formControlName="website">
                    <mat-error>Please insert the website</mat-error>
                </mat-form-field>
            </form>
            <mat-card-actions>
                <button type="button" mat-button class="float-right" (click)="submitRoom()">
                    Save <mat-icon>save</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <p></p>
  </div>