<div>
  <div class="title">Service Form Management</div>
  <div>
      <button type="button" mat-button (click)="cancel()"><mat-icon>arrow_back</mat-icon>Go back</button>
  </div>
  <div class="example-container mat-elevation-z8">
      <mat-card class="example-container">
          <form class="main-div" [formGroup]="servicesForm">
              <mat-form-field>
                  <input matInput placeholder="Name" required name="name" formControlName="name">
                  <mat-error>Please insert the name</mat-error>
              </mat-form-field>
              <mat-form-field>
                  <textarea matInput placeholder="Description" required matTextareaAutosize name="description" formControlName="description"></textarea>
                  <mat-error>Please insert the description</mat-error>
                </mat-form-field>
          </form>
          <mat-card-actions>
              <button type="button" mat-button class="float-right" (click)="submitService()">
                  Save <mat-icon>save</mat-icon>
              </button>
          </mat-card-actions>
      </mat-card>
  </div>
  <p></p>
</div>
