.card-wrapper {
    margin: auto;
    width: 400px;
}

  .card-wrapper {
      padding: 10px;
  }
  
  .photo {
      width:300px;
      margin-left: 20px;
  }

  mat-card-title {
      text-align:center !important;
  }

  mat-card-actions {
   padding-left: 275px;
  }