:host(app-calendar) {
    width: 90%;
}

.header-spacing {
    margin: 30px;
}

.btn-primary {
    background-color: #2196F3 !important;
    border-color: #2196F3 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #1565C0 !important;
    border-color: #1565C0 !important;
}

.btn-outline-secondary {
    background-color: white !important;
}

.btn-outline-secondary:hover {
    background-color: #607D8B !important;
    color: white !important;
}
